.list div {
  height: 300px; }

.btn-primary {
  background: red; }

.red {
  background: red; }

.yellow {
  background: yellow; }

.blue {
  background: blue; }

.green {
  background: green; }

img {
  max-width: 100%; }
