body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 7px;
    border: 1px solid #333;
    border-radius: 4px;
    width: 600px; 
    height: 500px;
    .stop{
        background: red;
        color: white;
        padding: 10px 15px;
    }
    .sliders{
        position: relative;
        height: 100%;
        button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px;
            &.prev{
                left: -70px;
            }
            &.next{
                right: -70px;
            }
        }
        .slide-content{
            overflow: hidden;
            .slider-img{
                transition: all 0.5s ease-in;
                display: flex;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}